name: CI
on:
  - push
  - pull_request
  - workflow_dispatch
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.9'
          - '1.10'
          - '1.11'
          - '1.12'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        python-version:
          - 3.8
          - 3.12
        arch:
          - x64
        experimental:
          - false
        include:
          - os: ubuntu-latest
            version: 'nightly'
            arch: x64
            experimental: true
          - os: macOS-latest
            version: 'nightly'
            arch: x64
            experimental: true
          - os: windows-latest
            version: 'nightly'
            arch: x64
            experimental: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v4
        if: ${{ runner.os != 'windows-latest' }}
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        if: ${{ runner.os != 'windows-latest' }}
        run: |
          python -m pip install --upgrade pip
          pip install netcdf4 cython pandas xarray numpy pyndl
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Rebuild PyCall
        if: ${{ runner.os != 'windows-latest' }}
        run: |
          julia --project=test -e 'using Pkg; Pkg.build("PyCall")'
        env:
          PYTHON: python3
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@latest
        env:
          PYTHON: ${{ runner.os == 'Windows' && 'python' || 'python3' }}
      - uses: julia-actions/julia-runtest@latest
        env:
          PYTHON: ${{ runner.os == 'Windows' && 'python' || 'python3' }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.10'
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: |
          julia --project=docs -e '
            using Documenter: doctest
            using JudiLing
            doctest(JudiLing)'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
